<div class="jumbotron">
	  <h1 class="display-3">UNO-Project</h1>
	  <p class="lead">Prueba de concepto del desarrollo de una single-page-app con HTML5 y ES6</p>
	  <hr class="m-y-md">
	  <p class="lead">
	    <!--  a class="btn btn-primary btn-lg" href="#usuarios">Módulo usuarios</a -->
	  </p>
</div>
